apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../common/
- must-gather-sa-placement-binding.yaml
- must-gather-policy.yaml
patches:
- patch: |-
    - op: add
      path: /metadata/namespace
      value: rhacm-policies
  target:
    labelSelector: "policy=must-gather"
