apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../common/
- re-encrypt-routes-placement-binding.yaml
- re-encrypt-routes-policy.yaml
patches:
- patch: |-
    - op: add
      path: /metadata/namespace
      value: rhacm-policies
  target:
    labelSelector: "policy=re-encrypt-routes"
