apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../common/
- secret-creation-date-placement-binding.yaml
- secret-creation-date-policy.yaml
patches:
- patch: |-
    - op: add
      path: /metadata/namespace
      value: rhacm-policies
  target:
    labelSelector: "policy=secret-creation-date"
